<% @recipes.each do |recipe| %>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= recipe.name %></h5>
    <p class="card-text"><%= recipe.description %></p>
    <p class="card-text"> By: <%= recipe.users.name %></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><p>Ingredient count: </p></li>
    <li class="list-group-item"><p>Price: </p></li>
  </ul>
  <div class="card-body">
    <%= link_to recipe.name, recipe_path(recipe.id) %>
    <%= button_to "Delete recipe", recipe_path(recipe.id), method: :delete, class: "btn btn-outline-danger" %>
  </div>
</div>
<% end %>